<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="pac4j" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/etc/cas/log/cas/pac4j.log" />
        <param name="MaxFileSize" value="512KB" />
        <param name="MaxBackupIndex" value="3" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c] - %m%n"/>
        </layout>
    </appender>


    <logger name="org.pac4j">
        <level value="DEBUG" />
        <appender-ref ref="pac4j" />
    </logger>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="pac4j" />
    </root>
</log4j:configuration>

